---
- name: Install pyenv, virtualenv, rvm, and nvm under normal user with shell support
  hosts: all
  become: false

  vars:
    install_latest_versions: true
    pyenv_root: "{{ ansible_env.HOME }}/.pyenv"
    nvm_dir: "{{ ansible_env.HOME }}/.nvm"
    rvm_gpg_keys:
      - "409B6B1796C275462A1703113804BB82D39DC0E3"
      - "7D2BAF1CF37B13E2069D6956105BD0E739499BDB"

  pre_tasks:
    - name: Install system dependencies (as root)
      become: yes
      apt:
        name:
          - curl
          - git
          - gcc
          - make
          - libssl-dev
          - libbz2-dev
          - libreadline-dev
          - libsqlite3-dev
          - zlib1g-dev
          - libffi-dev
          - liblzma-dev
          - python3-pip
          - gnupg2
          - dirmngr
          - zsh
        state: present
        update_cache: yes

    - name: Detect user's shell (zsh or bash)
      set_fact:
        shell_profile: "{{ ansible_env.HOME }}/.zshrc"
      when: ansible_env.SHELL is search("zsh")

    - name: Default to bash if shell is not zsh
      set_fact:
        shell_profile: "{{ ansible_env.HOME }}/.bashrc"
      when: ansible_env.SHELL is not search("zsh")

  tasks:
    - name: Clone pyenv
      git:
        repo: 'https://github.com/pyenv/pyenv.git'
        dest: "{{ pyenv_root }}"
        update: no

    - name: Install pyenv-virtualenv
      git:
        repo: 'https://github.com/pyenv/pyenv-virtualenv.git'
        dest: "{{ pyenv_root }}/plugins/pyenv-virtualenv"
        update: no

    - name: Add pyenv config to shell profile
      lineinfile:
        path: "{{ shell_profile }}"
        line: 'export PYENV_ROOT="{{ pyenv_root }}"; export PATH="{{ pyenv_root }}/bin:$PATH"; eval "$(pyenv init --path)"; eval "$(pyenv virtualenv-init -)"'
        state: present
        create: yes

    - name: Import RVM GPG keys
      shell: |
        # Try keyserver first
        if ! gpg --keyserver hkp://keyserver.ubuntu.com --recv-keys {{ rvm_gpg_keys | join(' ') }}; then
          echo "Keyserver failed, using alternative method..."
          curl -sSL https://rvm.io/mpapis.asc | gpg --import -
          curl -sSL https://rvm.io/pkuczynski.asc | gpg --import -
        fi
      args:
        executable: /bin/bash

    - name: Install RVM
      shell: |
        curl -sSL https://get.rvm.io | bash -s stable
      args:
        executable: /bin/bash
        chdir: "{{ ansible_env.HOME }}"
        creates: "{{ ansible_env.HOME }}/.rvm"

    - name: Add RVM to shell profile
      lineinfile:
        path: "{{ shell_profile }}"
        line: 'source "$HOME/.rvm/scripts/rvm"'
        state: present

    - name: Clone NVM
      git:
        repo: https://github.com/nvm-sh/nvm.git
        dest: "{{ nvm_dir }}"
        version: v0.39.5

    - name: Add NVM config to shell profile
      lineinfile:
        path: "{{ shell_profile }}"
        line: 'export NVM_DIR="{{ nvm_dir }}"; [ -s "{{ nvm_dir }}/nvm.sh" ] && . "{{ nvm_dir }}/nvm.sh"'
        state: present

    - name: Install latest Python with pyenv
      shell: |
        export PYENV_ROOT="{{ pyenv_root }}"
        export PATH="$PYENV_ROOT/bin:$PATH"
        eval "$(pyenv init --path)"
        latest_python=$(pyenv install --list | grep -E '^\s*3\.[0-9]+\.[0-9]+$' | tail -1 | tr -d ' ')
        pyenv install -s "$latest_python"
        pyenv global "$latest_python"
      args:
        executable: /bin/bash
      when: install_latest_versions

    - name: Install latest Node.js with NVM
      shell: |
        export NVM_DIR="{{ nvm_dir }}"
        source "$NVM_DIR/nvm.sh"
        nvm install node
        nvm alias default node
      args:
        executable: /bin/bash
      when: install_latest_versions

